<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="carpool-backend"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} |traceId=%X{traceId:-NONE} |spanId=%X{spanId:-NONE} |userId=%X{userId:-ANON} |requestId=%X{requestId:-} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- File appender for persistent logs -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/carpool.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/carpool.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} traceId=%X{traceId:-NONE} spanId=%X{spanId:-NONE} userId=%X{userId:-ANON} requestId=%X{requestId:-} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="!prod">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.carpool" level="DEBUG"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
    <logger name="com.carpool" level="INFO"/>
    <logger name="org.springframework.security" level="WARN"/>
  </springProfile>
</configuration>
